<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<!-- Toolbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-left logo">
      <a [routerLink]="['/home']">
        <img width="40" alt="Recruitment Logo" src="assets/images/recruitment-logo.png" />
      </a>
    </div>
    <span class="navbar-brand p-2">Online Test Portal</span>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/home']"><i class="fa fa-home me-1"
              style="color: rgb(196 104 51);"></i>Home</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn === true && authService.getRole() === 'user'">
          <a class="nav-link" [routerLink]="['/exam']"><i class="fa fa-list me-1"
              style="color: rgb(196 104 51);"></i>Exam</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn === true && authService.getRole() === 'admin'">
          <a class="nav-link" [routerLink]="['/results']"><i class="fa fa-tasks me-1"
              style="color: rgb(196 104 51);"></i>Results</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn === true">
          <a class="nav-link" (click)="logOut()" style="cursor: pointer;"><i class="fa fa-unlock me-1"
              style="color: rgb(196 104 51);"></i>Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Body -->
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="footer fixed-bottom mt-auto py-2 bg-dark">
  <div class="container text-center">
    <span class="text-light">&copy; 2021 Onlinr Test Portal. MEAN Stack Developer</span>
  </div>
</footer>